*{
    margin: 0;
    border: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bebas-neue-regular {
    font-family: "Bebas Neue";
    font-weight: 600;
    font-style: normal;
  }
  
.navbar{
    height: 60px;
    background-color:#21211e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    margin-left: 15px;
    height: 50px;
    width:125px;
}
.logo
{
    background-image: url("logoname2.png");
    height: 50px;
    background-size: cover;
    width: 100%;
}
a{
    text-decoration: none;
    color:white;
    font-size: 1rem;
}
.navbar .nav-links{
    margin-right: 20px;
    display: flex;
    gap: 20px;
}

a:hover{
    color: red;
}
.home{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url("home.jpg");
    background-size: cover;
    color: white;
}

.text{
    margin-left:4rem;
    font-size: 1.1rem;
    line-height: 90%;
}
#home-heading{
    font-size: 8rem;
    line-height:90%;
}
.highlight{
    color: red;
}
.home-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.findme{
    margin-top: 7%;
    font-size: 1.1rem;
}

.Icons{
    margin-top: 4px;
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
}
.cv_down{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: 10px;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    background-color: rgb(215, 25, 25);
}


/*About me page*/
.about{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(47, 44, 44);
    background-size: cover;
    color: white;
}
